<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1><a href="/">Dataflex Authentication</a></h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">
      <li class="divider"></li>
      <li class="active">
        <%#= link_to "Subscriptions", user_subscriptions_path(current_user) %>
      </li>
    </ul>

    <!-- Right Nav Section -->
    <ul class="right">
      <li class="divider hide-for-small"></li>      
      <% if current_user %>
        <li class="has-dropdown"><a href="#"><%= current_user.email %></a>
          <ul class="dropdown">
            <li><a href="#">Profile</a></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>        
          </ul>
        </li>        
      <% else %>
        <li class="divider show-for-small"></li>
        <li class="has-form">
          <%= link_to "Login", new_user_session_path, class: :button %>
        </li>
      <% end %>
    </ul>
  </section>
</nav>