<div class="row">
  <h1>DataFlex <small>Für eine bessere Gesundheit.</small></h1>
  <h5 class="subheader"></h5>

  <blockquote>The First wealth is health.<cite>Ralph Waldo Emerson</cite></blockquote>
  <p>Herzlich Willkommen bei DataFlex - <%= current_user.email %></p>  
</div>